html,
body {
  margin: 10px;
  font-family: var(--font-family);
  background-color: var(--surface-b);
}

.txt-layout {
  color: var(--text-color);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.w-40rem {
  width: 40rem !important;
}
